.quizestatus {
    margin: 30px 200px;
    border: 2px solid gray;
    border-radius: 5px;
    background-color: #182C61;
    color: white;
    padding: 10px 12px;
}

.overall {
    border: 3px solid lightgoldenrodyellow;
    margin: 30px 100px;
    padding: 10px;
    background-color: #2C3A47;
    border-radius: 20px;
}