.quizestatus {
    margin: 30px 300px;
    border: 2px solid gray;
    border-radius: 5px;
    /* background-color: #182C61; */
    color: white;
    padding: 10px 12px;
    /* background-image: linear-gradient(to right, #D4145A, #FBB03B); */
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);


}

.icon {
    float: right;
}


/* .overall {
    border: 3px solid lightgoldenrodyellow;
    margin: 30px 100px;
    padding: 10px;
    background-color: #2C3A47;
    border-radius: 20px;
} */