.quize {
    border: 2px solid gray;
    box-shadow: 2px 2px 4px lightblue;
    margin: 30px;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    background-color: #2C3A47;
}

.quize img {
    width: 430px;
    height: 300px;
    padding: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 17px;
}

button {
    background-color: #01a3a4;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 180px;
}

button:hover {
    background-color: #10e2e2;
}